* {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  box-sizing: border-box;
}

.kingContainer {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #e3e6e6;
}
.firstHeader {
  background-color: rgb(19, 25, 33);
  padding: 10px;
  height: 7%;
  display: flex;
  align-items: center;
  gap: 2.5%;
  box-sizing: border-box;
}

.logo {
  display: flex;
  border: 1px solid transparent;
  padding: 2px;
}
.logo:hover {
  border: 1px solid white;
}
.logo > img {
  padding-left: 10px;
  padding-top: 10px;
}
.logo > span {
  padding-top: 10px;
  color: #d4d4d4;
  font-size: 18px;
}

.location {
  color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid transparent;
}
.location:hover {
  border: 1px solid white;
}
.locationImg {
  display: flex;
  gap: 1.9px;
}
.location > span {
  color: white;
  font-size: 12px;
  padding-left: 15px;
}
.locationImg h3 {
  font-size: 15px;
}

.search-box {
  height: 98%;
  display: flex;
  border-radius: 1px;
}
.search-box input {
  width: 30vw;
  background: white;
  border: none;
  font: bold;
}
#label {
  background: #d4d4d4;
  border-radius: 5px 0 0 5px;
  width: 3vw;
  padding: 1px;
  border: 1px solid #d4d4d4;
}
.search-box button {
  width: 3vw;
  background: #f3a847;
  cursor: pointer;
  border-radius: 0 4px 4px 0;
  border: 1px solid #f3a847;
}
.flag {
  display: flex;
  gap: 3px;
  margin-top: 5px;
  border: 1px solid transparent;
}
.flag:hover {
  border: 1px solid white;
}

#count {
  color: white;
}

.signin {
  color: white;
  font-size: 12px;
  border: 1px solid transparent;
}
.signin:hover {
  border: 1px solid white;
}
.returns {
  color: white;
  font-size: 12px;
  border: 1px solid transparent;
}
.returns:hover {
  border: 1px solid white;
}
.cart {
  color: white;
  font-size: 12px;
}
.cart:hover {
  border: 1px solid white;
}
.secondHeader {
  display: flex;
  height: 39px;
  background-color: #232f3e;
  width: 99vw;
  color: white;
  font-size: 14px;
  align-items: center;
}
.ham {
  display: flex;
  border: 2px solid transparent;
  height: 100%;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  padding-left: 4px;
  padding-right: 4px;
}
.ham:hover {
  border: 2px solid white;
}
.nav-items {
  display: flex;
  gap: 15px;
  margin-left: 5px;
  align-items: center;
}
.nav-items > p {
  padding-left: 4px;
  padding-right: 4px;
  border: 2px solid transparent;
  height: 100%;
}
.nav-items > p:hover {
  border: 2px solid white;
}
.hero {
  height: auto;
  background-image: url("Hero.jpg");
  background-size: 100%; /* Ensures the image covers the entire area */
  background-repeat: no-repeat;
  width: 100%;
}

.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  padding-top: 250px;
  padding-left: 5%;
  padding-right: 5%;

  width: 100%;
}
.first-grid {
  border: 1px solid white;
  height: 370px;
  width: 95%;
  background-color: white;
  padding: 10px;
}

.tip {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 5px;
  font-size: 12px;
  justify-items: center;
  align-items: center;
  padding-top: 5px;
}
.tip img {
  width: 110px;
  height: 110px;
}

.footer {
  width: 100%;
  background-color: #232f3e;
  border: 1px solid black;
  height: 200px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
.footer h2 {
  margin-top: 4px;
}
.footer ul {
  list-style: none;
  margin-top: 7px;
  padding-top: 3px;
}
